.beige {
    color: #fff7d1;
}

/*  */

#products-container {
    margin-bottom: 300px;
}


/* Blog */
.post {
    margin-bottom: 3rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}